.divApp {
  min-width: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 50px;
}

.divAreas {
  grid-area: content;
  background-color: #c7c565;
}
